@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
}

li {
  list-style: none;
}

.page-header {
  background-color: white;
  color: black;
  width: 100%;
  height: 64px;
  display: flex;
}

.navigation {
  height: 64px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

ul.navigation-list li {
display: inline;
}

/*.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }*/

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: black;
}

.hero {
  width: 1200;
  height: 485;
  background-image: url("../images/hero-image.jpg");
}

.item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.item-text {
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
}

.banner-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner-subtitle {
  font-size: 21px;
  line-height: 18px;
  font-weight: 400;
}

.card {
  width: 400px;
  height: 385px;
}

.comment-image {
  background-color: #82B3D3;
  color: white;
}

.light-blue {
background-color: #F0F6F9;
color: black;
}

.blue {
  background-color: #E6F0F6;
  color: black;
}


.footer-newsletter {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 415px;
  color: white;
}


.banner-footer {
  color: white;
  background-repeat: no-repeat;
}
